@model Service

<div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
        @*todo: description on view enum? - think it will come from db*@
        <span class="govuk-caption-m govuk-!-margin-top-3">@(Model.Type == ServiceType.FamilyHub ? "Family hub" : "Service and groups")</span>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Model.Name <span class="govuk-!-font-weight-regular"> (@Model.Distance?.ToString("0.00") miles)</span></h3>
    </div>
</div>

<dl class="govuk-summary-list govuk-summary-list--no-border">
    
    @if (Model.Type == ServiceType.Service)
    {
        <partial name="_SummaryListRows" model='("Category", Model.Categories)' />
        <partial name="_SummaryListRow" model='("Age range", Model.AgeRange)' />
        <partial name="_SummaryListRows" model='("When", Model.When)' />
    }

    <partial name="_SummaryListRows" model='("Where", Model.Where)' />
    
    @*todo: default not nice*@
    <partial name="_SummaryListLink" model='("Phone", Model.Phone, LinkType.Phone, default(string?))' />
    <partial name="_SummaryListLink" model='("Email", Model.Email, LinkType.Email, default(string?))' />
    <partial name="_SummaryListLink" model='("Website", Model.WebsiteUrl, LinkType.Normal, Model.WebsiteName)' />

    @if (Model.Type == ServiceType.FamilyHub)
    {
        <partial name="_SummaryListRows" model='("Opening hours", Model.When)' />
    }
    else
    {
        <partial name="_SummaryListRows" model='("Cost", Model.Cost)' />
    }
</dl>