@page
@model ServiceFilterModel
@{
    ViewData["Title"] = "Your local family hubs, services and activities";
}

@section Back {
    <a asp-page="/PostcodeSearch/Index" class="govuk-back-link">Back</a>
}

@if (!Model.Services.Any()) {
    <partial name="_ServiceFilterNoResults" />
}
else {

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Your local family hubs, services and activities</h1>
        <span class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Showing results for: <a asp-page="/PostcodeSearch/Index">@Model.Postcode?.ToUpperInvariant()</a></span>
    </div>
</div>

<button class="govuk-button govuk-button--secondary app-open-close-filters" data-module="govuk-button" onclick="toggleFilters()">
    Open / close filters
</button>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="moj-filter">
            <div class="moj-filter__header">
                
                @*moj standard vs prototype*@
                @*<div class="moj-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>*@

                <div class="moj-filter__header-action">
                </div>

            </div>

            <div class="moj-filter__content">
                <div class="moj-filter__selected">
                    <div class="moj-filter__selected-heading">
                        <div class="moj-filter__heading-title">
                            @*moj standard vs prototype*@
                            @*<h2 class="govuk-heading-m">Selected filters</h2>*@
                            <h2 class="govuk-heading-m">Filter results</h2>
                        </div>

                        <div class="moj-filter__heading-action">
                            <p><a class="govuk-link--no-visited-state" href="">Clear filters</a></p>
                        </div>
                    </div>
                    
                    @*//todo: do generically from filters*@
                    @*                    @foreach (var filter in ServiceFilterModel.Filters)
                    {
                        filter.
                    }*@
                    @{
                        var filter = ServiceFilterModel.Filters.First(f => f.Name == "search_within");
                        string? selectedValue = Model.search_within;
                        if (selectedValue != null)
                        {
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@filter.Description</h3>

                            if (filter.FilterType == FilterType.Radios)
                            {
                                //todo: could always put value in [], and do same for radios and checks
                                var aspectDescription = filter.Aspects.First(a => a.Id == selectedValue).Description;
                                <ul class="moj-filter-tags">
                                    <li><a class="moj-filter__tag app-icon-cross app-remove-filter-tag" href=""><span class="govuk-visually-hidden">Remove this filter</span>@aspectDescription</a></li>
                                </ul>
                            }
                        }
                    }
                </div>
                
                <form method="post">
                    <div id="filters" class="moj-filter__options">
                        
                        @*todo: data-prevent-double-click?*@
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Apply filters
                        </button>

                        <partial name="_FilterGroupSubGroups" model="ServiceFilterModel.CategoryFilter" />

                        @foreach (var filter in ServiceFilterModel.Filters)
                        {
                            <partial name="_FilterGroup" model="filter" />
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
    @{
        Service? firstFamilyHub = Model.Services.FirstOrDefault(s => s.Type == ServiceType.FamilyHub);
        if (Model.OnlyShowOneFamilyHubAndHighlightIt && firstFamilyHub != null)
        {
            <div class="app-family-hub">
                <partial name="_Service" , model="firstFamilyHub" />
                <p id="family-hubs-description">This is your nearest family hub. You can drop in, meet others and find general services and activities in your area.</p>
            </div>

            <p id="services-description">
                Below are the nearest search results for services and groups in your area. These may take place at different locations, like family hubs, children's centres or community centres.
            </p>

            @foreach (var service in Model.Services.Where(s => s.Type == ServiceType.Service))
            {
                <partial name="_Service" model='service'/>
            }
        }
        else
        {
            @foreach (var service in Model.Services)
            {
                <partial name="_Service" model='service'/>
            }
        }
    }
    </div>
</div>
}