@page
@model FamilyHubs.ServiceDirectory.Web.Pages.Cookies.IndexModel
@{
    ViewData["Title"] = "Cookies";
}

@*todo: link in banner header and layout footer*@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Change your cookie settings</h2>
        <form action="/form-handler" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Do you want to accept functional cookies?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="functional-cookies" name="functional-cookies" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="functional-cookies">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="functional-cookies-2" name="functional-cookies" type="radio" value="no" checked>
                            <label class="govuk-label govuk-radios__label" for="functional-cookies-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Do you want to accept analytics cookies?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="analytics-cookies" name="analytics-cookies" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="analytics-cookies">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="analytics-cookies-2" name="analytics-cookies" type="radio" value="no" checked>
                            <label class="govuk-label govuk-radios__label" for="analytics-cookies-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Save cookie settings
            </button>
        </form>
    </div>
</div>