
<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8" />
    @* we'll use the standard GDS title pattern for now, but the title often ends up too long and gets flagged during accessibility testing, so we might have to cut it down later. see https://design.tax.service.gov.uk/hmrc-design-patterns/page-title/ *@
    <title>@ViewData["Title"] - Find support for your family - GOV.UK</title>
    <meta name="description" content="Find support for your family">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/lib/govuk/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="~/lib/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="~/lib/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/lib/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/lib/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="~/lib/govuk/assets/images/govuk-apple-touch-icon.png">

    <!-- Pending further research e.g. location. etc. -->
    <!-- <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">-->
    <!--[if !IE 8]><!-->
@*    <link href="~/css/govuk-frontend-4.4.0.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />
    <!--<![endif]-->
    <!--[if IE 8]>
      <link href="~/css/govuk-frontend-ie8-4.4.0.min.css" rel="stylesheet">
    <![endif]-->

    <meta property="og:image" content="~/lib/govuk/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6QMSGQ"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <partial name="_CookieBanner.cshtml"/>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    
    <partial name="_Header.cshtml" />

    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service, your <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3aXYQWE1MKuhSya">feedback</a> will help us improve it.
                </span>
            </p>
        </div>

        @await RenderSectionAsync("Back", required: false)

        <main class="govuk-main-wrapper custom-main" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/govuk/assets/js/govuk-4.4.1.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>

    <script>
        //todo: initialize just the components we use
        window.GOVUKFrontend.initAll();
    </script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>