@page
@using FamilyHubs.ServiceDirectory.Core.Postcode.Model
@model PostcodeSearchModel
@{
    ViewData["Title"] = "Search for local family support and services";
}

@section Back {
    <a asp-page="/Index" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @*todo: we might want a partial for this at some point (that supports a list of errors)*@
        @*todo: gds says top of main, but that would take it out of the 2/3rds column*@
        @if (Model.PostcodeError != PostcodeError.None)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary">

                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#postcode">@GetErrorMessage(Model.PostcodeError)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Search for local family support and services</h1>

        <p>Use your postcode to find support, activities and services for:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>babies</li>
            <li>children</li>
            <li>young people up to age 19 (or up to age 25 with special education needs or disabilities)</li>
            <li>parents and carers</li>
        </ul>

        <p>As this service is new, not all local area services will be listed.
            If there are no listings in your area yet, you will be signposted to your council website.</p>

        <p>Some services are only available to local residents.</p>

        <form method="post" asp-page="/ServiceFilter/Index">

            @if (Model.PostcodeError == PostcodeError.None)
            {
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="postcode">
                        Enter a postcode
                    </label>
                    <div id="postcode-services-hint" class="govuk-hint">For example SW1A 2AA</div>
                    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" aria-describedby="postcode-services-hint" autocomplete="postal-code">
                </div>
            }
            else
            {
                <div class="govuk-form-group govuk-form-group--error">
                    <label class="govuk-label govuk-label--s" for="postcode">
                        Enter a postcode
                    </label>
                    <p id="postcode-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @GetErrorMessage(Model.PostcodeError)
                    </p>
                    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="postcode" name="postcode" type="text" aria-describedby="postcode-error" autocomplete="postal-code">
                </div>
            }

            <button class="govuk-button" data-module="govuk-button">Search</button>

        </form>
    </div>
</div>

@{
    string GetErrorMessage(PostcodeError postcodeError)
    {
        return postcodeError switch
        {
            PostcodeError.NoPostcode => "You need to enter a postcode, like SW1A 2AA",
            PostcodeError.PostcodeNotFound => "Your postcode is not recognised - try another one",
            PostcodeError.InvalidPostcode => "You need to enter a valid postcode, like SW1A 2AA",
            _ => throw new ArgumentOutOfRangeException(nameof(postcodeError), postcodeError, "Unexpected")
        };
    }
}