
/*filter page*/

.app-open-close-filters {
    display: none;

    @include govuk-media-query($until: tablet) {
        display: block;
        margin-bottom: 15px;
    }
}

.app-filter-group {
    border-bottom: 1px solid $govuk-border-colour;

    &:last-child {
        border-bottom: none;
    }
}

.app-family-hub {
    background-color: rgba($govuk-brand-colour, 0.1);
    /*todo: keep as pixels?*/
    padding: 10px 20px 20px 20px;
}
/*todo ensure have media responsive*/
/*todo: important not nice*/
.app-sub-filters {
    margin-bottom: 20px !important;
}

.app-sub-filters-scrollable {
    margin-left: -10px;
    max-height: 400px;
    overflow-y: auto;
    padding-left: 10px;
}